<template>
<div>
  <span v-show="false">
  CurrentValue: {{currentValue}}
  Value: {{value}}

  </span>
  <b-form-group
    id="fieldset-1"
    :label="label"
    label-for="input-1"
    :valid-feedback="validFeedBack"
    :invalid-feedback="invalidFeedback()"
    :state="state()"
    :required="required"
    >
    <b-form-input id="input-1" v-model="currentValue" @input="updateValue($event)" :state="state()" trim></b-form-input>
  </b-form-group>
</div>
</template>

<script src="./FormatInput.js" />