<template>
  <div class="vue-tempalte">
    <app-header/>
    <!-- Main -->
    <div class="App">
      <div class="vertical-center">
        <div class="inner-block">
            <router-view />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AppHeader from './components/header/AppHeader.vue'
export default {
  components: {
    AppHeader
  }
}
</script>