<template>
   <div>
    <nav class="navbar shadow bg-white rounded justify-content-between flex-nowrap flex-row fixed-top">
      <div class="container">
         <router-link  class="navbar-brand float-left" to="/">
            Control de Permisos
         </router-link>
        <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item ">
            <router-link class="nav-link pr-3" to="/permission/create" v-if="!$route.params.id">Crear</router-link>
          </li>
        </ul>
      </div>
    </nav>
   </div>
</template>
