<template>
   <div class="vue-tempalte">
        <form v-on:submit.prevent>
          <h3 v-if="!$route.params.id">Registre el nuevo permiso</h3>
          <h3 v-if="$route.params.id">Actualice el permiso</h3>
          <format-input label="A nombre de: " @state="validation.employeeName = $event" :value="permission.employeeName" @input="permission.employeeName = $event" validFeedBack="Formato Valido!" :required="true"/>
          <format-input label="Apellido" @state="validation.employeeLastname = $event" :value="permission.employeeLastname" @input="permission.employeeLastname = $event" validFeedBack="Formato Valido!" :required="true"/>

          <b-form-group
            id="fieldset-3"
            label="Tipo de Permiso"
            label-for="input-3">
            <b-form-select id="input-3" v-model="permission.permissionTypeId">
              <b-form-select-option :value="item.id"  v-for="(item, $index) in permissionTypes" :key="$index"  >{{item.description}}</b-form-select-option>
            </b-form-select>
          </b-form-group>

          
          <b-form-group
            id="fieldset-4"
            label="Fecha"
            description="Fecha de Solicitud de Permiso"
            label-for="input-4">
            <b-form-datepicker v-model="permission.permissionDate" :min="min" :max="max" locale="en"></b-form-datepicker>
          </b-form-group>

            <button type="submit" :disabled="!IsValid()" @click="create" class="btn btn-dark btn-lg btn-block">Registrar</button>
        </form>
    </div>
</template>

<script>
import FormatInput from '../components/inputs/FormatInput.vue'

export default {
  name: 'Create',
  components: {
    FormatInput
  },
  data() {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    const minDate = new Date(today)

    const maxDate = new Date(today)
    maxDate.setFullYear(maxDate.getFullYear() + 5)

    return {
      permission: {
        employeeName: null,
        employeeLastname: null,
        permissionDate: null,
        permissionTypeId: null,
      },
      validation: {
        employeeName: false,
        employeeLastname: false
      },
      permissionTypes: [],
      min: minDate,
      max: maxDate
    }
  },
  async mounted () {
    await this.init();
  },
  ready () {
  },
  methods: {
    IsValid () {
      return this.validation.employeeName && this.validation.employeeLastname && this.permission.permissionDate && this.permission.permissionTypeId
    },
    async init () {
      await this.fillPermissionTypes();

      if (this.$route.params.id) {
        await this.setInitialData(this.$route.params.id);
      }
    },
    async fillPermissionTypes () {
      const result = await this.$services.permissionTypeService.getAll();
      if (result.status == 200) {
        this.permissionTypes = result.data
      } else {
          this.$toast.open({ message: result.message })
      }
    },
    async setInitialData (permissionId) {
      const result = await this.$services.permissionService.get(permissionId);
      console.log('GET')
      console.log(result)
      if (result.status == 200) {
        this.permission = result.data;
      } else {
          this.$toast.open({ message: result.message })
      }
    },
    async create () {
      let result = null;
      if (this.$route.params.id) {
        result = await this.$services.permissionService.update(this.$route.params.id, this.permission);
      } else {
        result = await this.$services.permissionService.create(this.permission);
      }
      if (result.status == 200) {
          this.$toast.open({ message: 'Se ha registrado exitosamente' })
          this.$router.push('/');
      } else {
          this.$toast.open({ message: result.message })
      }
    }
  }
}
</script>
