<template>
  <div >
      <div class="form-row justify-content-md-center">
        <div class="my-3">
        <h3>Lista de permisos</h3>
          Aplique los filtros para un mejor manejo de los datos.
          </div>
      </div>
    <b-row>
      <b-col lg="10" class="my-1">
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

     
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
    >
      <template #cell(employeeName)="row">
        <b class="text-info">{{ row.item.employeeLastname == null ? '' : row.item.employeeLastname.toUpperCase() }}</b>, <b>{{ row.item.employeeName }}</b>
      </template>
      
      <template #cell(permissionType)="row">
        <b class="text-info">{{row.item.permissionType.description}}</b>
      </template>

      <template #cell(actions)="row">
        <b-button size="sm" variant="outline-primary" @click="$router.push(`/permission/${row.item.id}/edit`)" style="margin-right:10px;" >
          <b-icon icon="pencil-square"  />Editar
        </b-button>
        <b-button size="sm" @click="row.toggleDetails" variant="danger" class="mr-1">
         <b-icon icon="trash"></b-icon>  Eliminar
        </b-button>
      </template>

      <template #row-details="row">
         <b-card >
          <h4>Estas seguro que deseas eliminarlo?</h4>
          <b-button size="sm" @click="row.toggleDetails" variant="outline-primary" class="mr-1">
            <b-icon icon="arrow90deg-up"></b-icon>  No
          </b-button>
          <b-button size="sm" @click="remove(row.item.id)" variant="danger" class="mr-1">
            <b-icon icon="trash"></b-icon>  Si
          </b-button>
        </b-card>
      </template>
    </b-table>

    <b-row>
      <b-col sm="5" md="2"/>
      <b-col sm="5" md="3" class="my-1">
        <b-form-group
          label="Per page"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from 'moment'
import 'moment/locale/es-do'
import 'moment/locale/fr'

  export default {
    async mounted() {
      // Set the initial number of items
      await this.getAll();
    },
    data() {
      return {
        items: [],
        fields: [
          { key: 'employeeName', label: 'Nombre completo', sortable: true, sortDirection: 'desc' },
          { key: 'permissionType', label: 'Tipo de Permiso', sortable: true, class: 'text-center' },
          { key: 'permissionDate', label: 'Fecha de Permiso', 
            formatter: (value) => {
              return moment(value).locale('es').calendar()
            },
          sortable: true, class: 'text-center' },
          { key: 'actions', label: 'Actions' }
        ],
        totalRows: 1,
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
        sortBy: '',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterOn: []
      }
    },
    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      }
    },
    methods: {
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
     async getAll() {
          const result = await this.$services.permissionService.getAll();
          if (result.status == 200) {
            this.items = result.data
            this.totalRows = this.items.length
          } else {
              this.$toast.open({ message: result.message })
          }
      },
      async remove (permissionId) {
        const result = await this.$services.permissionService.remove(permissionId);
        if (result.status == 200) {
          this.$toast.open({ message: 'Permiso eliminado' })
          this.getAll()
        } else {
            this.$toast.open({ message: result.message })
        }
      }
    }
  }
</script>